img {
  height: 100%;
  width: 100%;
  display: block;
}

.project_name {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: .4s;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  cursor: pointer;
}

.project_info:hover .project_name {
  opacity: 1;
}